PORT=5000
JWT_SECRET=change_this_secret
GMAIL_USER=your_email@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password
DB_DIALECT=sqlite
DB_NAME=tickets_db
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_STORAGE=./database.sqlite
